body {
	background-image: url("photo/fixin1.jpg");
	background-size: cover;
}

header {

	color: black;
	background-color: rgba(255, 255, 255, 1);
	margin-bottom: 5px;
	display: inline-block;
	border: solid 1px;
	margin-left: calc(43% - 5ex);
	margin-top: 10px;
	font-size: 18px;
}

nav a {
	display: inline-block;
	width: calc(100%/2 - 3px);
	text-align: center;
	margin-bottom: 20px;
}

a {
	background-color: rgba(254, 231, 240, 0.8);
	color: rgba(0, 0, 0, 0.7);
}

img {
	margin: 4px;
}

p {
	font-size: 17px;
	background-color: rgba(255, 255, 255, 0.7);
	border: solid 1px;
	text-align: center;
	margin-block-start: auto;
}
.conclusion{
	font-size: 20px;
	border: solid 0px;
	background-color: rgba(255, 255, 255, 0.0);
}
article {
	background-color: rgba(255, 255, 255, 0.7);
	margin-right: 5px;
	margin-left: 5px;
	box-sizing: border-box;
	border: solid 1px;
	font-size: 18px;
}

.premier_paragraphe {
	display: inline-flex;
	align-items: center;
	width: calc(100%/1);
	margin-left: 5px;
	font-size: 18px;
}

.figure {
	display: inline-block;
	text-align: center;
}

.figurine {
	width: 70%;
}
.peindre{
	display: inline-block;
	text-align: center;
}
.peins{
	width: 50%;
}

.deuxieme_paragraphe {
	display: inline-flex;
	align-items: center;
	width: calc(100%/1);
	margin-left: 5px;
	font-size: 18px;
}

.livre {
	display: inline-block;
	text-align: center;
}


.mangatheque {
	width: 60%;
}

.troisième_paragraphe{
	display: inline-flex;
	align-items: center;
	width: calc(100%/1);
	margin-left: 5px;
	font-size: 18px;
}

.jeux{
	display: inline-block;
}

.setup{
	width: 70%;
}

.text{
	text-align: center;
}
.quatrième_paragraphe{
	text-align: center;
    display: inline-block;
	align-items: center;
	width: calc(100%/1);
	margin-left: 5px;
	font-size: 20px;
}
.presentation {
	text-align: center;
}

.bas_page {
	border: solid 0px;
}

.dernier-lien {
	width: calc(100%/10 - 3px);
	font-size : 21px;
}

footer {
	background-color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	border: solid 1px;
	margin-left: calc(50% - 14ex);
	font-size: 17px;
}